/*basic settings*/
body {
  text-align: center;
  font-family: Helvetica;
}

/*The title that says "Broadway Design"*/
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

/*Our Process*/
h2 {
  font-size: 32px;
  font-weight: bold;
}

/*Identify, Understand, Execute, Portfolio, Team, Contact*/
h3 {
  font-size: 23px;
  font-weight: bold;
}

/*The anchors in "home" section*/
h4,
a {
  font-size: 18px;
  color: white;
}

/*paragraphs*/
p {
  font-size: 14px;
}

/*header part*/
#home,
#home2 {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  color: white;
}

/*footer keep left*/
#footer {
  background-color: dimgray;
  text-align: left;
}

/*footer text: white 11px*/
#footer p {
  color: white;
  font-size: 11px;
}
